<!DOCTYPE html>
<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->
<html>

<head>
    <title>Multilingual Private Chat Room</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header class="homebanner">
        <h1 class="homebannertext">WivChat</h1>
    </header>
    <section>
        <div class="homesection">
            <div class="node">
                <h2 id="chat">Multilingual chat room based on <a href="http://tutorialzine.com/2014/03/nodejs-private-webchat/">tutorialzine node.js realtime chat.</a></h2>
            </div>            
            <a title="Create" href="/create" id="create">
                <div id="createbutton">
                    <div id="little">Create a Private</div>
                    <div id="big">CHAT ROOM!</div>
                </div>
            </a>
        </div>
        <div class="footer">
            <p>Made with love by</p>
            <a href="http://www.wivorn.com">Wivorn Chowattanakul</a>
        </div>
    </section>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38163537-2', 'auto');
      ga('send', 'pageview');

    </script>
</body>

</html>
